<p id="notice"><%= notice %></p>

<h5><%= @blog.title %></h5>


<p>
  
  <img class="image-responsive" src="<%= @blog.imageurl %>" style="width: 100%;" > 
</p>

<p>  
  <%= @blog.content.html_safe %>
</p>



<%# link_to 'Edit', edit_blog_path(@blog) %> 
<%# link_to 'Back', blogs_path %>
