
<h5>Benefits of joining IEEE?</h5>

<p>1. Student Network : Helps you get in touch with a lot of talented people in various fields and not just your own. (You never know when you need a web/app developer's advice). Also further down the road, when all of you would be on your way, there would be much more connection than just DCE (institute name) alumni.</p>

<p>2. Head Fake Learning :</p>

<p>By organizing events / membership drive - you learn(and implement !) other things which you might have not really followed even after attending an hour-long session(lecture/talk) on. Things like leadership, patience, perseverance, felicitation, street-smartness and a lot more.</p>
<p>Why head fake ? You were set out to do a task but never had a primary intention to learn any of the above. You just happen to pick 'em up along the way. Isn't that the best way to learn.</p>

<p>3. SIG(Special Interest Groups) : A crucial part of Student Branch Activities. As a member, you can practically start a group on anything that excites you and even a few others - competitive programming, web development, open source, robotics, MATLab, Designing ; although mostly they are encouraged to be technical. There is no such compulsion.
They help you find your interest or even co-founders to your start-up idea or feedback on current technologies.  Such a head-start is needed.</p>

<p>These are mostly the non-technical side of it. Although there many benefits on technical front even for an undergrad (learning resources/ insights from IEEE Gold members/ discounts to conferences/ free Microsoft software etc.), let me know if you want me to elaborate on that aspect.
</p>