<h5>WHY SHOULD I JOIN IEEE?</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/cv-wJq4VPIQ" frameborder="0" allowfullscreen></iframe></p>

<p>IEEE offers a wide range of learning, career enhancement, and employment opportunities within the engineering sciences, research, and other technology areas. The goal of these programs is to ensure the growth of skill and knowledge among professionals and to foster individual commitment to continuing education among IEEE members, the engineering and scientific community, and the general public. </p>

<p><strong>CORE BENEFITS :</strong></p>

<p>IEEE is the world's largest technical society, bringing Members
Access to the industry's most essential technical Information, networking
Opportunities, career development tools, and many other exclusive benefits. While the electronics industry continues to produce the next generation of integrated circuits to meet the ever growing consumer demand for increased performance, reduced power consumption and lower cost, new industry-wide challenges are arising that address how to debug and test these highly complex devices.
</p>