<h5>Resources</h5>

<p>
    <ul>
        <li><a href="http://www.ieee.org/membership_services/membership/my_ieee.html">myIEEE</a></li>
        <li><a href="http://ieeexplore.ieee.org/Xplore/home.jsp">IEEE Xplore Digital Library</a></li>
        <li><a href="http://spectrum.ieee.org/">IEEE Spectrum</a></li>
        <li><a href="https://sites.google.com/a/ieee.org/">Google Apps @ IEEE</a></li>
        <li><a href="http://www.ieee.org/membership_services/membership/students/students_software.html">Microsoft Softwares for IEEE Student Members</a></li>
    </ul>
</p>