<h5>ABOUT IEEE</h5>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/mR7S2HV8HQ8" frameborder="0" allowfullscreen></iframe></p>

<p>The Institute of Electrical and Electronics Engineers (IEEE, read I-Triple-E) is a professional association headquartered in New York City that is dedicated to advancing technological innovation and excellence. It has about 425,000 members in about 160 countries, slightly less than half of whom reside in the United States.IEEE is the world’s largest professional association dedicated to advancing technological innovation and excellence for the benefit of humanity. IEEE and its members inspire a global community through its highly cited publications, conferences, technology standards, and professional and educational activities. IEEE's membership has long been composed of engineers, scientists, and allied professionals. These include computer scientists, software developers, information technology professionals, physicists, medical doctors, and many others. It is an association designed to serve professionals involved in all aspects of the electrical, electronic and computing fields and related areas of science and technology that underlie modern civilization.</p>


<p>
More than 425,000 members in more than 160 countries, more than 50 percent of whom are from outside the United States;
More than 116,000 Student members;
333 Sections in 10 geographic regions worldwide;
2,195 Chapters that unite local members with similar technical interests;
2,354 student branches at colleges and universities;
800 student branch chapters of IEEE technical societies;
At the pre-college level, the IEEE works with industry, universities and government to raise students’ literacy in science, maths, engineering and technology. IEEE journals are consistently among the most highly cited in electrical and electronics engineering, telecommunications and other technical fields. IEEE is a leading developer of international standards that underpin many of today's telecommunications, information technology and power generation products and services. IEEE also produces technical books, monographs, guides and textbooks</p>